# Environment and IDE
.env
.venv/
*.swp
*.swo
.vscode/
.idea/

# OS files
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# dataset
/data/

# pretrained models
/.vector_cache/